<h1>welcome to autobid</h1>
<%= link_to 'log in', login_path%>
<%= link_to 'register', register_path%>

<div class="row">
  <div class="medium-9 medium-push-3 columns">
    <h3>gallery</h3>
    <ul data-orbit>
      <li>
        <img src="http://bestcarmag.com/sites/default/files/7068995Saab_900_3door.jpg"/>
      </li>
      <li>
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Saab_9-5_grey.jpg"/>
      </li>
    </ul>

  </div>

</div>
