<!-- <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Autobid</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </section>
</nav> -->


<h1>welcome to autobid</h1>
<%= link_to 'log in', login_path%>
<%= link_to 'register', register_path%>

































<!-- <img src="./app/assets/images/saab.jpg" alt="" /> -->
<!-- <img src="../../../assets/images/saab.jpg" alt="" /> -->
<img src="../../assets/images/saab.jpg" alt="" />
<!-- <img src="../assets/images/saab.jpg" alt="" /> -->
<!-- <img src="../../../images/saab.jpg" alt="" /> -->
<!-- <img src="../../images/saab.jpg" alt="" /> -->
<!-- <img src="../images/saab.jpg" alt="" /> -->

















<!--  -->
