<%= render(:partial => 'nav')%>
<% content_for :head do %>
  <%= stylesheet_link_tag "account" %>
<%end%>
<h1>new project</h1>
<%= render 'form'%>


<!-- </script> -->

<input type="text" id="test" value="100">
Car Location:
<div id="floating-panel">
  <input id="address" type="textbox" placeholder="Input Location">
  <input class="btn btn-default" id="submit" type="button" value="Submit">
</div>
<div id='map' style="width:100%; height:30%;"></div>

<script type="text/javascript">
  var map;
  function initMap() {
    var myLatLng = {lat: 41.8789, lng: -87.6358}; //set starting location
      map = new google.maps.Map(document.getElementById('map'), { //make new map and tie to dom
        zoom: 6,
        center: myLatLng
      });
      document.getElementById('submit').addEventListener('click', function() { //event to search user input
        geocodeAddress(geocoder, map);
        google.maps.event.trigger(map, 'resize');
        map.setCenter(center);
        map.setZoom(10);
      });

      var geocoder = new google.maps.Geocoder();
      var center = map.getCenter();

      var contentString = 'starting position: Sears Tower';
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        // zoom: 10,
        title: 'Hello World!'
      });
      marker.addListener('click',function(){
        infowindow.open(map, marker);
        // infowindow.open(alert('test'));
      });
  }
var latitude;
var longitude;
  function geocodeAddress(geocoder, resultsMap) {
    var address = document.getElementById('address').value;

    geocoder.geocode({'address': address}, function(results, status) {
      if (status === google.maps.GeocoderStatus.OK) {
        resultsMap.setCenter(results[0].geometry.location);
        longitude = results[0].geometry.location.lng();
        latitude = results[0].geometry.location.lat();
        var marker = new google.maps.Marker({
          map: resultsMap,
          position: results[0].geometry.location
        });
        var infowindow = new google.maps.InfoWindow({
          content: ('lat: '+latitude+' ; '+'lng: '+longitude)
        });
        marker.addListener('click',function(){
          infowindow.open(map, marker);
        });
      } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
    });
    setTimeout(function getLatLng(){
      document.getElementById('user-latitude').value=latitude;
      document.getElementById('user-longitude').value=longitude;
    },1000);
  }
</script>





<!-- load googlemaps API -->

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjLvHS4VWyc_r1Spdl_dzV3zffOklQSR0&callback=initMap"
type="text/javascript">


</script>
