<h1>Title: <%= @test.title %></h1>
<h3>Description: <%= @test.description%></h3>

<h3>Add Comment</h3>
<section id='add-comment-section-id'>
  <input type="text" id='comment-id' value="" placeholder='List of ingredients'>
  <button type="button" id='comment-button-id'>Add Comment</button>
  <div class='error'></div>
</section>
